@{
    ViewData["Title"] = "Get to Know Joel";
}

<h3>Here are a few pieces of info to search to get to know Joel a little better.</h3>
<ul>
    <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> (Joel performs here regularly)</li>
    <li><a href="https://baconsale.com">Baconsale Podcast</a></li>
</ul>
<div class="text-center">
    <a href="https://baconsale.com">
        <img height="300px" src="~/img/baconsalekate.jpg" />
    </a>
</div>